build/
node_modules/
.DS_Store
.zos.session
.openzeppelin/.session
deployments/
docs/
env/
dist/
.env
bin/
solc
coverage/
coverage.json
yarn-error.log

#generated contract artifacts
*artifacts/
contracts/**/**/*.json
contracts/**/**/**/*.json

#contracts deps
contracts/.deps/
