[profile.default]
src = "contracts"
out = "out"
libs = ["node_modules", "lib"]
test = "test"
cache_path = "cache_forge"
optimizer_runs = 1_000_000
auto_detect_solc = true

[fmt]
line_length = 120
tab_width = 4
bracket_spacing = true
int_types = "long"

[linter.exclude_lints]
files = ["contracts/protocol/interfaces/IRigoblockPoolProxyFactory.sol"]
