name: v3-contracts

on:
  push:
    branches:
      - main
      - development
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        solidity: [""]
        settings: ['{"optimizer":{"enabled":true,"runs":200}}']
        #include:
        #- solidity: "0.8.14"
        #  settings: '{"optimizer":{"enabled":true,"runs":200}}'
        #- solidity: "0.7.4"
        #  settings: '{"optimizer":{"enabled":true,"runs":200}}'
        #- solidity: "0.6.6"
        #  settings: '{"optimizer":{"enabled":true,"runs":200}}'
        #- solidity: "0.5.0"
        #  settings: '{"optimizer":{"enabled":true,"runs":200}}'
    env:
      SOLIDITY_VERSION: ${{ matrix.solidity }}
      SOLIDITY_SETTINGS: ${{ matrix.settings }}
      PROD: ""
      MAINNET_RPC_URL: ${{ secrets.MAINNET_RPC_URL }}
      BNB_MAINNET_RPC_URL: ${{ secrets.BNB_MAINNET_RPC_URL }}
      OPTIMISM_MAINNET_RPC_URL: ${{ secrets.OPTIMISM_MAINNET_RPC_URL }}
      ARBITRUM_MAINNET_RPC_URL: ${{ secrets.ARBITRUM_MAINNET_RPC_URL }}
      BASE_MAINNET_RPC_URL: ${{ secrets.BASE_MAINNET_RPC_URL }}
      POLYGON_MAINNET_RPC_URL: ${{ secrets.POLYGON_MAINNET_RPC_URL }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'

      - uses: actions/setup-node@v6
        with:
          node-version: 22.12.0

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - uses: actions/cache@v5
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - run: yarn --frozen-lockfile

      - run: yarn build

      - run: yarn test

      - name: Generate combined coverage report
        run: yarn coverage:combined

      - name: Upload coverage to Codecov
        if: github.actor != 'dependabot[bot]'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage/combined_lcov.info
          fail_ci_if_error: true
          verbose: true
