name: Publish

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        solidity: [""]
        settings: ['{"optimizer":{"enabled":true,"runs":200}}']
    env:
      SOLIDITY_VERSION: ${{ matrix.solidity }}
      SOLIDITY_SETTINGS: ${{ matrix.settings }}
      PROD: ""
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - uses: actions/setup-node@v6
        with:
          node-version: 22.12.0
      - uses: actions/cache@v4
        with:
          path: |
            "**/node_modules"
            **/.foundry
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly
      - run: yarn --frozen-lockfile
      - run: yarn build
      - run: yarn build:hardhat
      - run: yarn test

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    # The following strategy and env are used by hardhat compile
    strategy:
      matrix:
        solidity: [""]
        settings: ['{"optimizer":{"enabled":true,"runs":200}}']
    env:
      SOLIDITY_VERSION: ${{ matrix.solidity }}
      SOLIDITY_SETTINGS: ${{ matrix.settings }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22.12.0
          registry-url: https://registry.npmjs.org/
          always-auth: true
      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly
      - uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - run: yarn --frozen-lockfile
      - run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
